html {
  font-size: 10px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  height: auto;
  padding-bottom: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  width: 100vw;
  overflow: hidden;
}

header .header__banner {
  width: 100vw;
  height: auto;
  position: relative;
}

header .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: auto;
}

header .top .basket {
  position: absolute;
  top: 0;
  width: 90vw;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}

header .top .basket .limiter {
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 30px;
  width: 146px;
  border-radius: 0 0 10px 10px;
  z-index: 9999;
}

header .top .basket .limiter a {
  padding: 10px 0;
  display: block;
  position: relative;
  background-color: transparent;
  height: auto;
  width: auto;
  text-indent: 0;
}

header .top .basket .limiter a .amount {
  color: #222;
  margin-right: 7px;
  margin-left: 7px;
}

header .top .basket .limiter a .count {
  color: #222;
  font-weight: 400;
  opacity: 0.6;
  font-size: 0.875em;
}

header .top .basket .limiter i {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  right: 10px;
  top: 8px;
  position: absolute;
  line-height: 1;
  font-weight: 900;
  vertical-align: baseline;
  height: 15px;
  line-height: 1.618;
}

header .top .top__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: auto;
  width: 95vw;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
}

header .top .top__items .top__items_24 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .top .top__items .top__items_24 img {
  height: 31px;
  padding-top: 19px;
}

header .top .top__items .top__items_24 p {
  padding: 0 0 0 16px;
  font-size: 16px;
}

header .top .top__items .top__items_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .top .top__items .top__items_nav .top__nav_phone {
  font-weight: 900;
  color: #000;
  cursor: pointer;
}

header .nav-wrapper {
  height: 34px;
  background: #fff;
  z-index: 999;
}

header .nav-wrapper .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 34px;
  background: #fff;
  width: 90vw;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-family: "Microsoft Sans Serif", sans-serif;
}

header .nav-wrapper .nav .nav-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
  margin-left: -15px;
  -webkit-transition: .5s;
  transition: .5s;
}

header .nav-wrapper .nav .nav-cont.down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 100px;
  left: 0;
  background: rgba(66, 66, 66, 0.88);
  z-index: 999;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

header .nav-wrapper .nav .nav-cont.down p {
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100vw;
}

header .nav-wrapper .nav .nav-cont.down p a {
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #00ade7;
}

header .nav-wrapper .nav .nav-bar {
  display: none;
  height: 25px;
  width: 25px;
}

header .nav-wrapper .nav .nav-bar > div {
  height: 5px;
  width: 25px;
  background: #008dd2;
  border-radius: 3px;
  -webkit-transition: .6s;
  transition: .6s;
}

header .nav-wrapper .nav .nav-bar .top {
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
}

header .nav-wrapper .nav .nav-bar .mid {
  margin-top: 5px;
  opacity: 1;
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
}

header .nav-wrapper .nav .nav-bar .bot {
  margin-top: 5px;
  -webkit-transform: translateY(0) rotate(0);
          transform: translateY(0) rotate(0);
}

header .nav-wrapper .nav .nav-bar.active .top {
  -webkit-transform: translateY(10px) rotate(135deg);
          transform: translateY(10px) rotate(135deg);
}

header .nav-wrapper .nav .nav-bar.active .mid {
  -webkit-transform: rotateZ(-1135deg);
          transform: rotateZ(-1135deg);
  opacity: 0;
}

header .nav-wrapper .nav .nav-bar.active .bot {
  -webkit-transform: translateY(-10px) rotate(-135deg);
          transform: translateY(-10px) rotate(-135deg);
}

header .nav-wrapper .nav p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav-wrapper .nav .nav__fix-price {
  width: 130px;
}

header .nav-wrapper .nav .nav__delivery {
  width: 70px;
}

header .nav-wrapper .nav .nav__teh-help {
  width: 120px;
}

header .nav-wrapper .nav p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95px;
}

header .nav-wrapper .nav p a {
  text-decoration: none;
  color: #000;
}

header .nav-wrapper .nav .active a {
  color: #00ade7;
  font-weight: 900;
  font-family: Regular, sans-serif;
}

header .nav-wrapper .nav a:hover {
  color: #00ade7;
  font-weight: 900;
  font-family: Regular, sans-serif;
}

header .nav-wrapper .nav__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

header .nav-wrapper .nav__search img {
  padding-top: 2px;
  height: 20px;
}

header .nav-wrapper .nav__search input {
  height: 17px;
  width: 137px;
  border: 1px solid #808080;
  border-radius: 77px;
  outline: none;
  padding-left: 7px;
}

main {
  width: 100vw;
}

main .main__banner {
  width: 100vw;
  position: absolute;
}

main #wrap1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 26px;
  width: 910px;
  margin-left: auto;
  margin-right: auto;
}

main #wrap1 aside {
  width: 157px;
  background: #fff;
  margin-right: 36px;
}

main #wrap1 aside .top {
  height: 23px;
  background: #008dd2;
  width: 100%;
}

main #wrap1 aside .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #wrap1 aside .middle .middle__el {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #f0f0f0;
}

main #wrap1 .main .main__text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 239px;
  margin-bottom: 9px;
  z-index: 9;
}

main #wrap1 .main .main__text .main__text_fix {
  position: absolute;
  font-size: 15px;
  left: 260px;
}

main #wrap1 .main .main__text .main__text_fix > p {
  text-align: right;
}

main #wrap1 .main .main__text .main__text_fix p:nth-child(1) {
  font-family: "Microsoft Sans Serif", sans-serif;
  font-size: 21px;
}

main #wrap1 .main .main__text .main__text_fix p:nth-child(2) {
  display: block;
  position: relative;
  font-family: Regular, sans-serif;
  color: #00ADE7;
  font-size: 21px;
  font-weight: 900;
  -webkit-transform: translateY(-29px);
          transform: translateY(-29px);
}

main #wrap1 .main .main__text .main__text_garant {
  font-family: Regular, sans-serif;
  position: absolute;
  font-size: 27px;
  bottom: 17px;
  right: 50px;
}

main #wrap1 .main .main__text .main__text_garant > p {
  padding: 0;
  margin: 0;
}

main #wrap1 .main .main__text .main__text_garant p:nth-child(1) {
  color: #008dd4;
  letter-spacing: 5.2px;
  font-weight: 600;
  font-size: 57px;
  line-height: 45px;
}

main #wrap1 .main .main__text .main__text_garant p:nth-child(2) {
  font-family: "Microsoft Sans Serif", sans-serif;
  color: #000;
  font-weight: 100;
  font-size: 45px;
  letter-spacing: 5px;
  line-height: 42px;
}

@media screen and (max-width: 910px) {
  header .top .top__items .top__items_24 {
    display: none;
  }
  header .nav-wrapper .nav .nav-cont {
    display: none;
  }
  header .nav-wrapper .nav .nav-bar {
    display: block;
  }
  header .nav-wrapper__second {
    display: block !important;
  }
  main #wrap1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 717px;
  }
  main #wrap1 aside {
    width: 100%;
    margin-top: 50px;
  }
  main #wrap1 > div > img {
    position: absolute;
    right: 0;
  }
}

@media screen and (max-width: 768px) {
  #header .top__items img {
    height: 45px;
  }
  main #wrap1 {
    width: 100vw;
  }
  main #wrap1 .main .main__text .main__text_garant {
    right: 20px;
  }
  main #wrap1 .main .main__text .main__text_garant > p:nth-child(1) {
    font-size: 42px;
  }
  main #wrap1 .main .main__text .main__text_garant > p:nth-child(2) {
    font-size: 35px;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: 500px) {
  main #wrap1 .main .main__text .main__text_fix {
    right: 20px;
    left: 0;
  }
  main #wrap1 .main .main__text .main__text_fix > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  #header .top__items img {
    height: 35px;
  }
  #header .top__items_nav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */